@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

/* Reusable classes */
.firstCaps:first-letter {
  font:70px/70px Merriweather;
  padding-right:3px;
  float:left;
}

/* Markdown rules */
.content blockquote>:first-child:first-letter {
  font:35px/35px Merriweather;
  padding-right: 2px;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.masthead,
.footer,
.content {
  padding-left: 15px;
  padding-right: 15px;
}

.masthead h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  font-size: 78px;
  font-family: 'Merriweather', serif;
  border-bottom: solid 1px #999999; 
}

.masthead h2 .tld {
  font-size: 45px;
}

.nav-masthead li {
  width:120px;
}

.nav-masthead a {
  color: #ffffff; 
  background-color: #E5F252;
  font-size:20px;
} 

.nav-masthead li.active a{
  color: #ffffff; 
  background-color: #999999; 
}

.nav-masthead li a:hover{
  color: #ffffff; 
  background-color: #999999; 
}
.nav-masthead li.active a:hover{
  color: #ffffff; 
  background-color: #999999; 
} 

.content {
  font-family: 'Merriweather', serif;
  padding-left: 25px;
  padding-right: 25px;
}

.heading h1 {
  font-family: 'Merriweather', serif;
  padding-left: 25px;
  padding-right: 25px;
}
.heading h3, .heading h4 {
  font-family: 'Merriweather', serif;
  text-align: center;  
}
.desk, .date {
  font-style: italic;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 50px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .masthead {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav-blog button{
  width: 150px;
}

.nav-blog a{
  width: 150px;
}

.dropdown-menu li {
  text-align: left;
}

.blog-list-date {
  color: #999999;
  font-size: smaller;
}

.blog-list-title {
  font-weight: bold;
}


.portrait {
  width: 35%;
  float: left;
  margin: 0 10px 10px 0;
}

.skills {
  font-size: 20px;
}

h4.panel-title {
  margin: 0px;
}

.label {
  margin: 3px;
}





