@import url(http://fonts.googleapis.com/css?family=Merriweather:400,700,400italic);

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.masthead,
.footer,
.content {
  padding-left: 15px;
  padding-right: 15px;
}

.masthead h2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 60px;
  font-size: 78px;
  font-family: 'Merriweather', serif;
  border-bottom: solid 1px #999999; 
}

.masthead h2 .tld {
  font-size: 45px;
}

.nav-masthead li {
  width:120px;
}

.nav-masthead a {
  color: #ffffff; 
  background-color: #DDE322;
  font-size:20px;
} 

.nav-masthead li.active a{
  color: #ffffff; 
  background-color: #999999; 
}

.nav-masthead li a:hover{
  color: #ffffff; 
  background-color: #999999; 
}
.nav-masthead li.active a:hover{
  color: #ffffff; 
  background-color: #999999; 
} 

.content {
  font-family: 'Merriweather', serif;
  padding-left: 25px;
  padding-right: 25px;
}

.heading h1 {
  font-family: 'Merriweather', serif;
  padding-left: 25px;
  padding-right: 25px;
}
.heading h3, .heading h4 {
  font-family: 'Merriweather', serif;
  text-align: center;  
}
.desk, .date {
  font-style: italic;
}

h1 {
  font-family: 'Merriweather', serif;
  font-size: 50px;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .masthead,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .masthead {
    margin-bottom: 10px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


p:first-child:first-letter {
  font-size: 40px;
  padding-right: 3px;
  float: left;
}
