<div class="content">
  <div class="bio">
    <img src="/blog/content/img/me.jpg" class="portrait" />
		<p>{{ bio }}</p>
	</div>

	<h3>Projects</h3>
  <accordion close-others="true">
    <accordion-group ng-repeat="item in projects" heading="{{ item.name }}" is-open="$first">
      <p>{{ item.about }}</p>
      <p>URL: <a ng-href="item.url" target="_blank">{{ item.url }}</a></p>
      <p>Source: <a ng-href="item.source" target="_blank">{{ item.source }}</a></p>
      <p>Post: <a ng-href="item.url" target="_blank">{{ item.post }}</a></p>
    </accordion-group>
  </accordion>
  
<!-- 	<h3>Stuff I know about:</h3>
	<div class="skills">
 		<div class="label-list well">
			<span class="label label-primary" ng-repeat="item in skills">{{ item.name }}</span>
		</div>
		<div class="keys">
			<span class="label label-primary">Good At It</span>
			<span class="label label-primary">Okay At It</span>
			<span class="label label-primary">New At It</span>
		</div>
	</div> -->
</div>