<div class="masthead">
  <ul class="nav nav-pills pull-right nav-masthead">
    <li class="active"><a class="btn" href="#">home</a></li>
    <li><a class="btn" href="#">blog</a></li>
  </ul>
  <h2 class="text-muted">ipsum<span class="tld">.net<span></h2>
</div>
<div class="heading">
  <h3 class="date text-muted">Sunday, January 5, 2013</h3>
  <h4 class="desk text-muted">The Programming Desk</h4>
  <h1>Lorem Scramble Squares</h1>
</div>
<div class="content">
<p>For his birthday, my dad received a puzzle from a family friend. The puzzle is called Scramble Squares® and the concept is simple: A player starts out with nine square pieces, each with a different design. Each piece has one of eight designs one each of its four sides, and these eight designs pair into four complete images. The version my dad received was dog themed (obviously), and so the four images on this puzzle were of a Yellow, Black, and Chocolate Lab and a Golden Retriever. To solve the puzzle, the pieces must be arranged into a three by three square, such that each one half of a dog on an inner side connects with a matching half.</p>

<p>Anyway, here's a picture of the unsolved puzzle, you'll get the idea:
[Example Puzzle]</p>

<p>The family friend got this for my dad because she knew that he would be frustrated by a puzzle, especially a seemingly simple one. I was similarly ensnared. With only nine pieces and eight different sides, how hard could it be to solve this thing?</p>

<p>Turns out, totally hard. After fumbling through some bad approaches on Christmas morning, I realized that I wasn't going to get to the solution by accident. I would need a better strategy. </p>

<p>As with most things, my strategy would be to cheat using a computer.</p>

<p>The obvious approach is to use brute force; attempt each possible combination until I get to one that works. I used a napkin and seventh grade math to try to get a handle on how many possible configurations of pieces exist, and thus how many configurations I might need to try. </p>

<p>Each of the nine pieces can be rotated to four different orientations:</p>

<p>[Drawing of piece rotation]</p>

<p>This gives us thirty-six playable "pieces." So if the puzzle was to put a piece down on a table, there would be thirty-six different ways we could play it. If we need to put down 2 pieces, we have the original 36 options for the first piece, but only thirty-two (eight remaining pieces, each with four possible orientations) options for the second. This makes for 36 * 32 = 1,152 possible combinations that can be made with two pieces. It follows that if we need to play 9 pieces we have 36 * 32 * 28 * 24 * 20 * 16 * 12 * 8 * 4 = 95,126,814,720. We'll call it 100 billion.</p>

<p>100 billion is a lot. For example, lets assume that I can attempt 10,000 combinations per second: it will take me 115 days to try every combination.</p>

<p>Fortunately, to solve the puzzle we don't need to try every combination, just the ones that could potentially be a solution. For example, if we choose a random piece for position 1 and then another for position 2 and their touching designs don't match, we can lop an entire metaphorical branch off of our possibility tree (in this case avoiding 82,575,360 useless attempts).</p>

<p>I decided it was reasonable that a brute force approach might possibly work. Only thing left to it was to do it. So I did.</p>

<p>My first step was to model the pieces, which I thought of as a collection of 4 designs, one facing each direction. A piece also has an "origin," an identifier to link it to a physical piece (remember each physical piece can have four rotated representations), as well as a "rotation." Inputing the data of my physical pieces ended up looking like this:</p>

<div class="highlight highlight-java"><pre>    <span class="n">List</span><span class="o">&lt;</span><span class="n">Piece</span><span class="o">&gt;</span> <span class="n">pieces</span> <span class="o">=</span> <span class="k">new</span> <span class="n">ArrayList</span><span class="o">&lt;</span><span class="n">Piece</span><span class="o">&gt;();</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"A"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"B"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"C"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"D"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"E"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"F"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"G"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"H"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)));</span>
    <span class="n">pieces</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="k">new</span> <span class="n">Piece</span><span class="o">(</span><span class="s">"I"</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="k">new</span> <span class="n">Yellow</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Black</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Chocolate</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">FRONT</span><span class="o">)</span>
                            <span class="o">,</span> <span class="k">new</span> <span class="n">Golden</span><span class="o">(</span><span class="n">Design</span><span class="o">.</span><span class="na">REAR</span><span class="o">)));</span>
</pre></div>

<p>This gave me a collection of nine pieces, each of which I passed through a "Rotator" to generate the thirty-six potential pieces.</p>

<p>Next, I created a special collection called a PieceSequence to represent a group of pieces in play. Based on the pieces already inserted it could decide whether a given piece represented a feasible play for the next available position:</p>

<div class="highlight highlight-java"><pre>    <span class="kd">public</span> <span class="kt">boolean</span> <span class="nf">pieceIsPlayable</span><span class="o">(</span><span class="n">Piece</span> <span class="n">piece</span><span class="o">){</span>
        <span class="kt">int</span> <span class="n">count</span> <span class="o">=</span> <span class="n">pieces</span><span class="o">.</span><span class="na">size</span><span class="o">();</span>
        <span class="k">switch</span><span class="o">(</span><span class="n">count</span><span class="o">){</span>
            <span class="k">case</span> <span class="mi">0</span><span class="o">:</span>
                <span class="c1">// Anything can be played in the first position</span>
                <span class="k">return</span> <span class="kc">true</span><span class="o">;</span>
            <span class="k">case</span> <span class="mi">1</span><span class="o">:</span>
            <span class="k">case</span> <span class="mi">2</span><span class="o">:</span>
                <span class="c1">// Second two positions must match piece to the left</span>
                <span class="k">return</span> <span class="n">pieces</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">count</span> <span class="o">-</span> <span class="mi">1</span><span class="o">).</span><span class="na">canBeToTheWestOf</span><span class="o">(</span><span class="n">piece</span><span class="o">);</span>
            <span class="k">case</span> <span class="mi">3</span><span class="o">:</span>
            <span class="k">case</span> <span class="mi">6</span><span class="o">:</span>
                <span class="c1">// Third and sixth positions must match piece above</span>
                <span class="k">return</span> <span class="n">pieces</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">count</span> <span class="o">-</span> <span class="mi">3</span><span class="o">).</span><span class="na">canBeToTheNorthOf</span><span class="o">(</span><span class="n">piece</span><span class="o">);</span>
            <span class="k">default</span><span class="o">:</span>
                <span class="c1">// Other positions must match the piece to the left and the piece above</span>
                <span class="k">return</span> <span class="o">(</span><span class="n">pieces</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">count</span> <span class="o">-</span> <span class="mi">1</span><span class="o">).</span><span class="na">canBeToTheWestOf</span><span class="o">(</span><span class="n">piece</span><span class="o">)</span>
                        <span class="o">&amp;&amp;</span> <span class="n">pieces</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">count</span> <span class="o">-</span> <span class="mi">3</span><span class="o">).</span><span class="na">canBeToTheNorthOf</span><span class="o">(</span><span class="n">piece</span><span class="o">));</span>
        <span class="o">}</span>
    <span class="o">}</span>
</pre></div>

<p>Finally I wrote a play method to spin through all the possible combinations. Its logic is simple; identical to the work flow <del>I</del> a very diligent monkey might apply to the same task:</p>

<pre lang="pseudo"><code>    function play(playedSequence, playablePieces) {
        foreach(playablePieces as piece) {
            if(Piece Can Be Added To playedSequence) {
                playedSequence.add(piece)
                filteredPieces = Remove Pieces With Same Origin As piece From playablePieces
                play(playedSequence, playablePieces)
            }   
        }
    }

</code></pre>

<p>My actual code ended up looking like this:</p>

<div class="highlight highlight-java"><pre>    <span class="kd">public</span> <span class="n">PieceSequence</span> <span class="nf">play</span><span class="o">(</span><span class="n">PieceSequence</span> <span class="n">currentSeq</span><span class="o">,</span> <span class="n">List</span><span class="o">&lt;</span><span class="n">Piece</span><span class="o">&gt;</span> <span class="n">playablePieces</span><span class="o">)</span> <span class="o">{</span>
        <span class="k">for</span><span class="o">(</span><span class="kt">int</span> <span class="n">i</span> <span class="o">=</span> <span class="mi">0</span><span class="o">;</span> <span class="n">i</span> <span class="o">&lt;</span> <span class="n">playablePieces</span><span class="o">.</span><span class="na">size</span><span class="o">();</span> <span class="n">i</span><span class="o">++){</span>
            <span class="n">tries</span><span class="o">++;</span>
            <span class="n">Piece</span> <span class="n">pieceToPlay</span> <span class="o">=</span> <span class="n">playablePieces</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">i</span><span class="o">);</span>
            <span class="k">if</span><span class="o">(</span><span class="n">currentSeq</span><span class="o">.</span><span class="na">pieceIsPlayable</span><span class="o">(</span><span class="n">pieceToPlay</span><span class="o">)){</span>
                <span class="n">List</span><span class="o">&lt;</span><span class="n">Piece</span><span class="o">&gt;</span> <span class="n">filteredList</span> <span class="o">=</span> <span class="n">removePiecesWithSameOrigin</span><span class="o">(</span><span class="n">playablePieces</span><span class="o">,</span> <span class="n">pieceToPlay</span><span class="o">.</span><span class="na">getOrigin</span><span class="o">());</span>
                <span class="n">PieceSequence</span> <span class="n">newSeq</span> <span class="o">=</span> <span class="k">new</span> <span class="n">PieceSequence</span><span class="o">(</span><span class="n">currentSeq</span><span class="o">);</span>
                <span class="n">newSeq</span><span class="o">.</span><span class="na">add</span><span class="o">(</span><span class="n">pieceToPlay</span><span class="o">);</span>
                <span class="k">if</span><span class="o">(</span><span class="n">newSeq</span><span class="o">.</span><span class="na">size</span><span class="o">()</span> <span class="o">==</span> <span class="mi">9</span><span class="o">){</span>
                    <span class="k">return</span> <span class="n">newSeq</span><span class="o">;</span>
                <span class="o">}</span> <span class="k">else</span> <span class="o">{</span>
                    <span class="n">PieceSequence</span> <span class="n">result</span> <span class="o">=</span> <span class="n">play</span><span class="o">(</span><span class="n">newSeq</span><span class="o">,</span> <span class="n">filteredList</span><span class="o">);</span>
                    <span class="k">if</span><span class="o">(</span><span class="n">result</span> <span class="o">!=</span> <span class="kc">null</span><span class="o">){</span>
                        <span class="k">return</span> <span class="n">result</span><span class="o">;</span>
                    <span class="o">}</span>
                <span class="o">}</span>
            <span class="o">}</span>
        <span class="o">}</span>

        <span class="c1">// Whelp, this was a dead end</span>
        <span class="k">return</span> <span class="kc">null</span><span class="o">;</span>
    <span class="o">}</span>
</pre></div>

<p>That's pretty much it. Once I worked the kinks out of my java it spit out an answer, near instantaneously:</p>

<div class="highlight highlight-text"><pre>Solved it in 14411 tries:
   Y1
    _
B1 | | C2    B2
    -
   G1

   G1
    _
C1 | | Y1    C3
    -
   B2

   C1
    _
Y2 | | G1    H1
    -
   B1

   G2
    _
C1 | | Y1    I1
    -
   B1

   B1
    _
Y2 | | G1    D2
    -
   C1

   B2
    _
G2 | | Y2    A3
    -
   C2

   B2
    _
G1 | | Y2    F3
    -
   C1

   C2
    _
Y1 | | G2    E1
    -
   B1

   C1
    _
G1 | | B1    G2
    -
   Y1

</pre></div>

<p>14,411 tries is quite a bit smaller than the 100 billion possible combinations. It's more than I would try on a table, but not enough to take my computer more than a second. The relatively low number surprised me, and makes suspect that there is more than one winning combinations (contrary to the packagings description). I'd like to test this, but maybe in another post.</p>

<p>Finally, here's the solved puzzle. Spoiler alert.</p>

<p>[Solved image]</p>
</div>