html {
overflow:hidden;
}

#background {
left:-50px;
position:absolute;
top:-50px;
z-index:0;
}

body {
overflow: hidden;
}

#card {
background-color:#eee;
font-family:Cinzel, serif;
height:2in;
margin:auto;
width:3.5in;
z-index:1;
}

#container {
height:130vh;
left:-10vw;
max-width:none;
position:relative;
top:-20vh;
width:120vw;
}

#email {
margin-bottom:3px;
}

#line-left {
background-image:linear-gradient(to right,#eee,#333);
}

#line-right {
background-image:linear-gradient(to right,#333,#eee);
}

#links li {
display:inline;
list-style-type:none;
}

#links li a {
text-decoration:none;
}

#links li:before {
content:" - ";
}

#links li:first-child:before,#skills li:first-child:before {
content:none;
}

#skills {
width:120%;
}

#skills li {
color:#888;
display:inline;
font-family:'Ubuntu Mono', monospace;
line-height:1.5;
list-style-type:none;
}

#skills li a {
color:#888;
transition:color 1s ease;
}

#skills li a:hover {
color:#039be5;
}

#skills li:after {
content:" ";
}

#skills li:before {
content:"- ";
}

.card {
background-color:#fff;
border-radius:2px;
box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
margin:3px 0 12px;
position:relative;
transition:box-shadow .25s;
}

.card .card-content {
border-radius:0 0 2px 2px;
padding:20px;
}

.card h1 {
font-size:42px;
margin-top:6px;
}

.card h2 {
font-size:20px;
margin-bottom:3px;
margin-top:3px;
}

.card h3 {
font-size:12px;
margin-top:3px;
}

.card-panel {
border-radius:2px;
transition:box-shadow .25s;
}

.center {
text-align:center;
}

.underline {
background:#333;
border:0;
display:inline-block;
height:1px;
width:30%;
}

.valign-wrapper {
-ms-flex-align:center;
-webkit-align-items:center;
align-items:center;
display:flex;
}

.valign-wrapper .valign {
display:block;
}