html, body {
max-width: 100%;
}

em {
font-style:italic;
}

strong {
font-weight:bold;
}

p {
font-family:Lora, serif;
line-height: 1.25em;
margin: 1.5em 0;
}

.content code {
font-family:'Ubuntu Mono', monospace;
font-size: 13px;
}

h1,h2,h3,h4,h5,h6 {
font-family:Cinzel, serif;
}

h1 {
font-size:45px;
}

h2 {
font-size:30px;
}

h3 {
font-size:25px;
}

.mono {
font-family:'Ubuntu Mono', monospace;
}

.no-dec {
text-decoration: none;
}

.black {
color:#000;
}

.size-medium {
font-size:medium;
}

.grey {
color:darkgrey;
}

.content img {
max-width:700px;
}

@media(max-width:770px){
.content img {
max-width: 90%;
}
}

.container {
margin:auto;
width:700px;
}

@media(max-width: 770px){
.container {
width:90%;
}
}

a {
color:#4682B4;
}

#links {
margin-left: 3px;
}

#links li:before {
content:" - ";
}

#links li:first-child:before,#skills li:first-child:before {
content:none;
}

#links li {
display:inline;
list-style-type:none;
}

#links li a {
text-decoration:none;
font-size:larger;
}

.paragraph {
margin-bottom: 16px;
line-height: 24px;
}

.preview {
margin-bottom: 16px;
line-height: 24px;
}

.listingblock, .olist, .ulist {
margin-bottom: 16px;
}

ol, ul {
margin-left: 32px;
line-height: 24px;
}

ol {
list-style-type: decimal;
}

ul {
list-style-type: disc;
}

.margin-bottom {
margin-bottom: 16px;
}

.margin-bottom-lg {
margin-bottom: 24px;
}

.margin-bottom-xlg {
margin-bottom: 32px;
}
